<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>5位数组合</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            padding: 10px;
        }

        .hl {
            color: red;
        }

        .app-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .cell-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            flex: 1;
            overflow-y: auto;
            align-content: flex-start;
        }

        .cell {
            border: 1px solid #000;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
        }
    </style>

</head>
<body>
<div id="app" class="container-fluid app-container">
    <form>
        <div class="checkbox">
            <label>含有勾选数组的组合</label>
            <template v-for="i in 10">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="includes2[i-1]"> {{i - 1}}
                </label>
            </template>
            <button class="btn btn-sm" @click.prevent="reset_includes2">重置</button>
        </div>
        <div class="checkbox">
            <label>只有勾选数组的组合</label>
            <template v-for="i in 10">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="includes[i-1]"> {{i - 1}}
                </label>
            </template>
            <button class="btn btn-sm" @click.prevent="reset_includes">重置</button>
        </div>
        <div class="checkbox">
            <label>勾选数必配+自配</label>
            <template v-for="i in 10">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="includes3[i-1]"> {{i - 1}}
                </label>
            </template>
            <button class="btn btn-sm" @click.prevent="reset_includes3">重置</button>
        </div>
        <div class="checkbox">
            <label>其他组合</label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="dui"> 对子
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="santiao"> 三条
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="sitiao"> 四条
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="wutiao"> 五条
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="zawu"> 杂五
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="xiaoshun"> 3顺
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="dashun"> 4顺
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="wushun"> 5顺
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="allbig"> 全大
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="allsmall"> 全小
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="onedan"> 1单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="twodan"> 2单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="threedan"> 3单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="sidan"> 4单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" v-model="alldan"> 全单
            </label>
            <!--            <label class="checkbox-inline">-->
            <!--                <input type="checkbox" v-model="oneshuang"> 1双-->
            <!--            </label>-->
            <!--            <label class="checkbox-inline">-->
            <!--                <input type="checkbox" v-model="twoshuang"> 2双-->
            <!--            </label>-->
            <!--            <label class="checkbox-inline">-->
            <!--                <input type="checkbox" v-model="threeshuang"> 3双-->
            <!--            </label>-->
            <label class="checkbox-inline">
                <input type="checkbox" v-model="allshuang"> 全双
            </label>
            <button class="btn btn-sm" @click.prevent="reset_other">重置</button>
        </div>
        <div class="checkbox">
            <label>合值</label>
            <template v-for="i in 46">
                <label class="checkbox-inline">
                    <input type="checkbox" v-model="sum[i-1]"> {{i - 1}}
                </label>
            </template>
            <button class="btn btn-sm" @click.prevent="reset_sum">重置</button>
        </div>
        <label>
            <button class="btn btn-sm btn-primary" @click.prevent.stop="showList = !showList">
                {{ showList ? '隐藏列表' : '显示列表'}}
            </button>
            <button class="btn btn-sm btn-primary" @click.prevent.stop="fan = !fan">
                {{ fan ? '查看筛选组合' : '查看不匹配组合'}}
            </button>
            数量：{{ fan ? (all.length - filterAll.length) : filterAll.length }}
        </label>
    </form>
    <div class="container cell-container" v-if="showList">
        <div class="cell" v-for="n in all" :key="n" v-show="fan ? filterAllMap[n] === undefined : filterAllMap[n]">
            {{ n }}
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    const xiaoshunArr = ['012', '123', '234', '345', '456', '567', '678', '789', '890',
        '210', '321', '432', '543', '654', '765', '876', '987', '098'
    ]
    const dashunArr = ['0123', '1234', '2345', '3456', '4567', '5678', '6789', '7890',
        '3210', '4321', '5432', '6543', '7654', '8765', '9876', '0987'
    ]
    const _5shun = [
        '01234', '12345', '23456', '34567', '45678', '56789', '67890',
        '43210', '54321', '65432', '76543', '87654', '98765', '09876',
    ]
    const duizi = [
        '00', '11', '22', '33', '44', '55', '66', '77', '88', '99'
    ]

    const min = 0
    const max = 99999
    const arr = []

    for (let i = min; i <= max; ++i) {
        arr.push(i.toString().padStart(max.toString().length, 0))
    }
    Object.freeze(arr)

    new Vue({
        el: '#app',
        data: {
            showList: true,
            fan: false,
            includes: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
            includes2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
            includes3: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
            dui: false,
            santiao: false,
            sitiao: false,
            wutiao: false,
            zawu: false,
            xiaoshun: false,
            dashun: false,
            wushun: false,
            allbig: false,
            allsmall: false,
            alldan: false,
            allshuang: false,
            onedan: false,
            twodan: false,
            threedan: false,
            sidan: false,
            oneshuang: false,
            twoshuang: false,
            threeshuang: false,
            sum: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        },
        computed: {
            all () {
                return arr
            },
            filterAllMap () {
                let map = {}
                console.log('start')
                let st = (new Date).valueOf()
                for (let label of this.all) {
                    if (this.show(label)) {
                        map[label] = true
                    }
                }
                let et = (new Date).valueOf()
                console.log(et - st)
                return map
            },
            filterAll () {
                console.log(Object.keys(this.filterAllMap))
                return Object.keys(this.filterAllMap)
            },
            includesChecked () {
                return this.includes.filter(v => v)
            },
            includes2Checked () {
                return this.includes2.filter(v => v)
            },
            includes3Checked () {
                return this.includes3.filter(v => v)
            },
        },
        methods: {
            reset_sum () {
                this.sum = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            },
            reset_other () {
                this.dui = false
                this.santiao = false
                this.sitiao = false
                this.wutiao = false
                this.zawu = false
                this.xiaoshun = false
                this.dashun = false
                this.wushun = false
                this.allbig = false
                this.allsmall = false
                this.alldan = false
                this.allshuang = false
                this.onedan = false
                this.twodan = false
                this.threedan = false
                this.sidan = false
                this.oneshuang = false
                this.twoshuang = false
                this.threeshuang = false
            },
            reset_includes () {
                this.includes = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
            },
            reset_includes2 () {
                this.includes2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
            },
            reset_includes3 () {
                this.includes3 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
            },
            show (label) {
                if (this.includesChecked.length > 0) {
                    for (let chr of label) {
                        if (!this.includes[chr]) return false
                    }
                }

                if (this.includes2Checked.length > 0) {
                    let c2 = false
                    for (let i in this.includes2) {
                        if (this.includes2[i]) {
                            if (label.includes(i)) {
                                c2 = true
                                break
                            }
                        }
                    }
                    if (c2 === false) return false
                }

                if (this.includes3Checked.length > 0) {
                    let cc = true
                    for (let i in this.includes3) {
                        if (this.includes3[i]) {
                            if (label.includes(i) === false) {
                                cc = false
                                break
                            }
                        }
                    }
                    if (cc === false) {
                        if ([...label].every(chr => this.includes3[chr])) {
                            cc = true
                        }
                    }
                    if (cc === false) {
                        return false
                    }
                }

                let c
                if (this.dui || this.santiao || this.sitiao || this.wutiao || this.zawu) {
                    c = this.count(label)
                }

                if (this.dui) {
                    if (duizi.every(xs => !label.match(new RegExp(xs)))) return false
                }

                if (this.santiao) {
                    if (c < 3) return false
                }

                if (this.sitiao) {
                    if (c < 4) return false
                }

                if (this.wutiao) {
                    if (c < 5) return false
                }

                if (this.zawu) {
                    if (c > 1) return false
                }

                if (this.xiaoshun) {
                    if (xiaoshunArr.every(xs => !label.match(new RegExp(xs)))) return false
                }
                if (this.dashun) {
                    if (dashunArr.every(xs => !label.match(new RegExp(xs)))) return false
                }
                if (this.wushun) {
                    if (_5shun.every(xs => !label.match(new RegExp(xs)))) return false
                }

                if (this.sum.filter(v => v).length > 0) {
                    let sum = [...label].map(v => Number(v)).reduce((a, b) => a + b, 0)
                    if (!this.sum[sum]) return false
                }

                if (this.allbig) {
                    if ([...label].some(c => Number(c) < 5)) return false
                }

                if (this.allsmall) {
                    if ([...label].some(c => Number(c) > 4)) return false
                }

                let dans
                if (this.onedan || this.twodan || this.threedan || this.sidan || this.alldan) {
                    dans = [...label].filter(c => Number(c) % 2 === 1)
                }

                if (this.onedan) {
                    if (dans.length !== 1) return false
                }

                if (this.twodan) {
                    if (dans.length !== 2) return false
                }

                if (this.threedan) {
                    if (dans.length !== 3) return false
                }

                if (this.sidan) {
                    if (dans.length !== 4) return false
                }

                if (this.alldan) {
                    if (dans.length !== label.length) return false
                }

                let ss
                if (this.oneshuang || this.twoshuang || this.threeshuang || this.allshuang) {
                    ss = [...label].filter(c => Number(c) % 2 === 0)
                }

                if (this.oneshuang) {
                    if (ss.length !== 1) return false
                }

                if (this.twoshuang) {
                    if (ss.length !== 2) return false
                }

                if (this.threeshuang) {
                    if (ss.length !== 3) return false
                }

                if (this.allshuang) {
                    if (ss.length !== label.length) return false
                }

                return true
            },
            count (label) {
                let c = {}
                for (let cc of label) {
                    if (c[cc] === undefined) {
                        c[cc] = 0
                    }
                    c[cc]++
                }
                return Math.max(...Object.values(c))
            },
            display (label) {
                let dp = []
                for (let c of label) {
                    if (this.includes.filter(v => v).length && this.includes[c]) {
                        dp.push(`<span class="hl">${c}</span>`)
                    } else if (this.includes2.filter(v => v).length && this.includes2[c]) {
                        dp.push(`<span class="hl">${c}</span>`)
                    } else {
                        dp.push(`<span>${c}</span>`)
                    }
                }
                return dp.join('')
            },
        },
    })
</script>

</body>
</html>